* {
  font-family:  "Comic Sans MS", cursive, sans-serif;}

body {
  font-size: 16px;
  color: #fff;
  background-color: #232B2B;
  #232B2B
  
}

/** HEADER **/
#header-nav {
  background-color: #50D07D;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 17px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #232B2B;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  
  margin-top: 0;
  margin-bottom: 0;
  line-height: .55;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.row {
  border: 2px solid black;
  background-color: #ECEAE0;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
  margin-left: 2%;
}

.p1 {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  color: #50D07D;
}

.p2 {
  width: 100%;
  margin-top: 0px;
  text-align: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  color: black;
  float: left;
}

.navar1{
  text-align: center;
  border: 2px #232B2B;
}


